body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; 
}
header {
    width: 100%;
    z-index: 1000;
}

.header-transparent {
    background-color: rgba(86, 62, 34, 0.8); /* Couleur de fond plus transparente */
}

.header-blocks {
    display: flex;
    justify-content:space-around; 
    align-items: center; 
    margin-top: 2px;
}
.menu-icon {
    color: white; /* Couleur blanche pour l'icône */
    margin-left: 10px; /* Ajout d'une marge à gauche pour séparer l'image de l'icône */
    font-size: 1.5em; /* Taille de police de l'icône */
}

.logo {
    display: flex; /* Utilisation de flexbox pour aligner l'image et l'icône */
    align-items: center; /* Centrage vertical des éléments */
}

.logo img {
    max-width: 100px;
    height: auto;
}

.header-wrap {
    display: flex;
    align-items: center;
}

.header-wrap nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header-wrap nav ul li {
    margin-left: 20px;
}

.header-wrap nav ul li:first-child {
    margin-left: 0;
}

.header-wrap nav ul li a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px;
}

@media (max-width: 768px) {
    .header-blocks {
        flex-direction: column; 
        align-items: stretch; /* Etirer les éléments pour qu'ils prennent toute la largeur */
    }

    .header-wrap {
        margin-top: 10px;
    }

    .header-wrap nav ul {
        flex-direction: column; /* Afficher les éléments de la liste en colonne sur les petits écrans */
    }
}

@media (max-width: 1020px) {
    header {
        position:absolute;
        top: 0;
    }
}

/*Partie Header*/
/*Contenu de la page*/
.container {
    text-align: center;
    margin-top: 150px;;
}

h1 {
    margin-bottom: 30px;
    font-size: 2em;
    color: #563e22;
    
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

li {
    margin-bottom: 20px;
}

.container li a {
    text-decoration: none;
    color: #563e22;
    font-size: 1.5em;
}
/*Contenu de la page*/
/* Partie footer*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%; /* Ajoutez une largeur spécifiée */
    height: auto;
    background-color: #563e22;
    text-align: center !important;
}
.copyright{
    color: white;
}
.footer-links {
    margin-top: 10px; /* Espacement entre le copyright et les liens */
}

.footer-links nav ul li{
    display: inline;
    margin: 0 20px; /* Espacement entre les liens */
    list-style: none;
    white-space: nowrap;
}
.footer-links a {
    text-decoration: none; 
    color: white;
    white-space: nowrap;
} 
@media screen and (max-width: 768px) {
    footer {
        position: fixed; /* Le footer ne sera plus fixé en bas */
    }
}

@media screen and (max-width: 480px) {
    .footer-links nav ul li {
        margin: 0 10px; /* Réduire l'espacement entre les liens */
    }
}
/* Partie footer*/