body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; 
}

/*Partie Header*/

header {
    width: 100%;
    z-index: 1000;
}

.header-transparent {
    background-color: rgba(86, 62, 34, 0.8); 
}

.header-blocks {
    display: flex;
    justify-content:space-around; 
    align-items: center; 
    margin-top: 2px;
}
.menu-icon {
    color: white;
    margin-left: 10px;
    font-size: 1.5em;
}

.logo {
    display: flex;
    align-items: center; 
}

.logo img {
    max-width: 100px;
    height: auto;
}

.header-wrap {
    display: flex;
    align-items: center;
}

.header-wrap nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header-wrap nav ul li {
    margin-left: 20px;
}

.header-wrap nav ul li:first-child {
    margin-left: 0;
}

.header-wrap nav ul li a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px;
}

@media (max-width: 768px) {
    .header-blocks {
        flex-direction: column; 
        align-items: stretch; 
    }

    .header-wrap {
        margin-top: 10px;
    }

    .header-wrap nav ul {
        flex-direction: column; 
    }
    .block-politique-de-confidentialite {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 1020px) {
    header {
        position:absolute;
        top: 0;
    }
    .block-politique-de-confidentialite{
        margin-top: 150px;
    }
    .block-politique-de-confidentialite {
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media (min-width: 1021px) {
    .block-politique-de-confidentialite {
        margin-left: 150px;
        margin-right: 150px;
        margin-bottom: 120px;
    }
}
/*Partie Header*/
/*Partie contenant*/
.block-politique-de-confidentialite{
    text-align: justify;
}
.block-politique-de-confidentialite h1{
    text-align: center;
    color: #563e22;
    font-size: 2em;
}
.block-politique-de-confidentialite h2{
    color: #563e22;
    font-size: 1.5em;
}
.block-politique-de-confidentialite p{
    font-size: 1.2em;
}
/*Partie contenant*/
/* Partie footer*/
footer {
    bottom: 0;
    width: 100%;
    background-color: #563e22;
    text-align: center !important;
    min-height: 55px;
}
.copyright{
    color: white;
}
.footer-links {
    margin-top: 10px; 
}

.footer-links nav ul li{
    display: inline;
    margin: 0 20px; 
    list-style: none;
    white-space: nowrap;
}

.footer-links a {
    text-decoration: none; 
    color: white;
    white-space: nowrap;
} 
/* Partie footer*/