body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/*Partie HEADER*/
header {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.header-transparent {
    background-color: rgba(86, 62, 34, 0.8);
    /* Couleur de fond plus transparente */
}

.header-blocks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2px;
}

.menu-icon {
    color: white;
    margin-left: 10px;
    font-size: 1.5em;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 100px;
    height: auto;
}

.header-wrap {
    display: flex;
    align-items: center;
}

.header-wrap nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header-wrap nav ul li {
    margin-left: 20px;
}

.header-wrap nav ul li:first-child {
    margin-left: 0;
}

.header-wrap nav ul li a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px;
}

@media (max-width: 768px) {
    .header-blocks {
        flex-direction: column;
        align-items: stretch;
        /* Etirer les éléments pour qu'ils prennent toute la largeur */
    }

    .header-wrap {
        margin-top: 10px;
    }

    .header-wrap nav ul {
        flex-direction: column;
    }
}

@media (max-width: 1020px) {
    header {
        position: absolute;
        top: 0;
    }
}

.section {
    padding-top: 80px;
    /* Pour éviter que le contenu soit masqué sous le menu */
}

/*Partie HEADER*/
/*Partie Acceuil*/
#accueil {
    background-image: url('image/banc-foret.webp');
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#accueil h1,
#accueil h2 {
    font-size: 2.5em;
}

/*Partie Acceuil*/
/*Partie A propos de moi */

#profil {
    max-width: 1300px;
    margin: 0 auto;
}

#profil h2 {
    font-size: 2em;
    text-align: center;
}

.profil-p {
    margin: 50px 0;
    font-size: 1.2em;
    text-align: justify;
}

@media (max-width: 768px) {
    .profil-p {
        margin: 0 15px;
    }
}

@media (max-width: 1020px) {
    .profil-p {
        margin: 0 15px;
    }
}

/* Partie A propos de moi */
/* Partie Actuellement */

.actuellement {
    background-image: url('image/feuilles.webp');
    height: 40vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.actuellement h2 {
    font-size: 2em;
}

.actuellement p {
    font-size: 1.7em;
    font-weight: bold;
}

/* Partie Actuellement */
/* Partie concernant les compétences*/
#compétences {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.compétences-block {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
}

.compétences-performance,
.compétences_CV {
    width: 48%;
}

/* Partie compétences, titre et texte d'accroche */
.compétences-phrase-accroche {
    text-align: center;
    max-width: 600px;
    margin-bottom: 50px;
}

.compétences-phrase-accroche h2 {
    font-size: 2em;
}

.compétences-phrase-accroche p {
    font-size: 1.2em;
}

/* Partie compétences, titre et texte d'accroche */
/* Partie compétences, barre de progression*/
.compétences-performance h2 {
    text-align: center;
    margin-left: -150px;
    font-size: 1.2em;
}


.container-competences {
    margin-bottom: 20px;
}

.text-competences {
    font-size: 20px;
    margin-bottom: 5px;
}

.progress-bar-competences {
    width: 80%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.progress-competences {
    height: 100%;
    background-color: #1e90ff;
    /* Bleu foncé */
    transition: width 0.5s ease-in-out;
}

/* Partie compétences, barre de progression*/
/* Partie compétences, partie C-V*/
.compétences_CV {
    width: 600px;
    height: auto;
    margin-bottom: 50px;
    padding: 0;

}

.compétences_CV img {
    width: 90%;
    height: auto;
    margin-bottom: 20px;
    border: 2px solid #CCCCCC;
}

.button-cv {
    text-align: center;
}

.download-button-CV {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.download-button-CV:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 780px) {
    .compétences-block {
        flex-direction: column;
    }

    .compétences-performance,
    .compétences_CV {
        width: 100%;
        margin-bottom: 20px;
    }

    .compétences-performance h2 {
        margin-left: 0;
        text-align: center;
    }
}

/* Partie compétences, partie C-V*/
/* Partie concernant les compétences*/
/* Partie concernant les citations*/
.partie-citation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('image/tête-arbre.webp');
    background-position: center 25%;
    /*ajouste l'image au centre avec 25> */
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    color: #ffffff;
    font-size: 2em;
}

.citation {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.partie-citation blockquote {
    margin: 0;
}

.citation footer {
    background-color: transparent;
}

@media screen and (max-width: 920px) {
    .partie-citation {
        font-size: 1.5em;
    }
}


@media screen and (max-width: 750px) {
    .partie-citation {
        font-size: 1em;
    }
}

/* Partie concernant les citations*/
/* Partie concernant le portfolio*/

.portfolio-presentation {
    text-align: center;
}

.portfolio-presentation h2 {
    font-size: 2em;

}

.portfolio-presentation p {
    font-size: 1.2em;
    margin-top: 20px;
}

.container-portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

}

.portfolio-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* Permettre aux éléments de s'enrouler sur les petits écrans */
}

.portfolio-menu li {
    flex: 1;
    /* Ajuster la taille de l'élément pour remplir l'espace disponible */
    text-align: center;
    margin: 10px;
}

.portfolio-menu li img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    border: 2px solid #333;
}

.portfolio-menu li a {
    text-decoration: none;
    color: inherit;
}

.portfolio-menu li p {
    margin: 0;
    padding: 10px;
}

@media only screen and (max-width: 768px) {
    .portfolio-menu li {
        width: 80%;
    }

    .portfolio-menu ul {
        flex-direction: column;
        align-items: center;
    }

    .portfolio-menu li {
        margin-right: 0;
        margin-bottom: 50px;
        text-align: center;
    }

    .portfolio-menu li img {
        width: 80%;
        height: 80%;
    }
}

/* Partie concernant le portfolio*/
/* Partie Contactez-moi*/
.contactez-moi {
    background-image: url('image/brume-toile-araignée.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    color: #ffffff;
}

.contactez-moi-presentation h2 {
    font-size: 2em;
    text-align: center;
    padding-top: 50px;
}

.contactez-moi-presentation p {
    font-size: 1.2em;
    text-align: center;
    padding-bottom: 10px;
}

/* Partie Contactez-moi, blocks du formulaire*/

.blocks-formulaire {
    display: flex;
    justify-content: center;
    margin-left: 180px;
    margin-right: 180px;
}

/* Partie Contactez-moi, blocks du formulaire*/
/* Partie Contactez-moi, côté gauche du formulaire -----------*/
.block-formulaire1 {
    width: 35%;
    text-align: justify;
    padding: 20px;
}

.input-group {
    margin-bottom: 40px;
}

.input-group-item {
    display: inline-block;
    width: calc(50% - 10px);
    /* Ajuster la largeur des éléments */
    margin-right: 5px;

}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    height: 25px;
}

.formulaire-boutton {
    display: flex;
    justify-content: center;
}


.formulaire-boutton button[type="submit"] {
    padding: 15px 15px 15px 15px;
    font-size: 16px;
    width: 100px;
    height: 50px;
}

/* Partie Contactez-moi, côté gauche du formulaire -----------*/
/* Partie Contactez-moi, côté droit du formulaire -----------*/
.block-formulaire2 {
    width: 25%;
    text-align: center;
    margin-top: 50px;
    margin-left: 50px;
}

.additional-info {
    flex: 1;

}

.additional-info img {
    width: 50px;
    height: 50px;
}

.additional-info p {
    margin-bottom: 100px;
}

/* Partie Contactez-moi, côté droit du formulaire -----------*/
/* Partie Contactez-moi, responsive du formulaire*/
@media only screen and (max-width: 1150px) {
    .blocks-formulaire {
        flex-direction: column;
        align-items: center;
        margin: 0 10px;
    }

    .block-formulaire1,
    .block-formulaire2 {
        width: 50%;
        margin-top: 20px;
    }

    .input-group-item {
        width: 100%;
        margin-right: 0;
    }

    .block-formulaire2 {
        margin-right: 80px;
        margin-bottom: 30px;
    }

    .additional-info p {
        margin-bottom: 50px;
    }
}

/* Partie Contactez-moi, responsive du formulaire*/
/* Partie Contactez-moi*/
/* Partie concernant le footer*/
footer {
    width: 100%;
    min-height: 60px;
    background-color: #563e22;
    text-align: center !important;

}

.copyright p {
    color: white;
    margin-top: 0;
}

.footer-links nav ul li {
    display: inline;
    margin: 0 20px;
    list-style: none;
    white-space: nowrap;
}

.footer-links a {
    text-decoration: none;
    color: white;
    white-space: nowrap;
}

/* Partie concernant le footer*/
/* Partie concernant les cookies*/
.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

.cookie-banner p {
    margin: 0;
    display: inline;
}

.cookie-banner button {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/* Partie concernant les cookies*/